.sm-box {
  min-height: 30vh; }

.md-box {
  min-height: 50vh; }

.lg-box {
  min-height: 100vh; }

.hero {
  font-family: "Sumana", serif;
  min-width: 100vw;
  background-size: cover;
  text-align: center;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .hero p {
    font-size: 2.2em;
    line-height: 1.5;
    font-weight: normal;
    text-rendering: optimizeLegibility; }
  .hero h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0px 0px 50px 0px;
    text-transform: uppercase; }
  .hero h1 {
    font-size: 4.5em;
    line-height: 1.5em; }
  .hero header {
    font-size: 65px;
    color: white;
    font-weight: bold; }
  .hero span {
    display: inline-block; }
  .hero .underline {
    border-bottom: 4px solid #77c9d4; }

.inside-container {
  width: 75vw;
  margin: auto; }

#intro-hb-bg {
  background-image: url(../img/backgrounds/hughesBrews-bottleCaps-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#intro-index-bg {
  background-image: url(../img/backgrounds/fieldMuseum-skyline.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#intro-drums-bg {
  background-image: url(../img/backgrounds/chicago-690364.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

#intro h1, #intro h3, #intro a {
  color: white;
  text-shadow: RGBa(0, 0, 0, 0.7) 0px 5px 5px;
  text-decoration: none; }
#intro h3 {
  font-weight: 900;
  font-size: 26px; }
#intro h3 a:hover {
  color: #77c9d4;
  transition: 0.3s; }
#intro #middle-intro-title {
  font-size: 110%; }

#bio .left-column {
  color: #57bc90;
  text-align: right;
  font-size: 1.25em; }
#bio .right-column {
  color: #a5a5af;
  text-align: left;
  font-size: .8em;
  padding-top: 14px; }

.beer-color-bg {
  background-color: #77c9d4; }

#about {
  background-color: #77c9d4;
  color: white;
  display: flex;
  flex-direction: column; }
  #about img {
    height: 250px; }
  #about .about-list-item {
    display: inline-block;
    padding: 0px; }
  #about #about-text {
    font-size: 2.2em;
    margin-top: 30px; }

#gallery-preface {
  background-color: #003D46;
  color: white; }
  #gallery-preface h2 {
    margin-bottom: 30px; }

#gallery .col-md-6 {
  overflow: hidden; }
  #gallery .col-md-6 img {
    height: 100%;
    max-width: 350px;
    max-height: 350px; }
#gallery .col-md-4 {
  overflow: hidden; }
  #gallery .col-md-4 img {
    height: 100%;
    max-width: 350px;
    max-height: 350px; }
#gallery h4 {
  color: white;
  font-size: 2em; }

#contact {
  background-color: #77c9d4;
  text-align: center; }
  #contact header {
    margin: 20px 0px 20px 0px; }
  #contact p {
    color: white;
    margin-bottom: 20px;
    font-weight: bold; }
  #contact a {
    color: #003D46;
    text-decoration: none; }
    #contact a:hover {
      opacity: .75; }
  #contact img {
    height: 35px; }

#footer {
  min-height: 10vh;
  min-width: 100vw;
  background-color: #003D46;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 50px 0px; }
  #footer .footer-content {
    display: flex;
    align-items: center; }
    #footer .footer-content a, #footer .footer-content p {
      color: white;
      text-decoration: none; }
  #footer .left-column {
    padding: 0px; }
    #footer .left-column a > img {
      height: 50px; }
  #footer .middle-column {
    display: inline;
    text-align: center;
    word-spacing: 8em;
    font-size: 1.25em;
    padding: 0px; }
    #footer .middle-column a:hover {
      color: #77c9d4; }
  #footer .right-column {
    padding: 0px;
    font-size: .7em;
    color: white; }
    #footer .right-column p {
      float: right;
      margin: 0px; }

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 0px;
  height: 100%;
  padding-top: 10px;
  font-family: "Sumana", serif;
  color: white;
  background-color: #222;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease; }
  #sidebar-wrapper a {
    color: white;
    font-size: 20px;
    margin-left: 0px; }
    #sidebar-wrapper a:hover {
      text-decoration: none;
      color: #77c9d4; }
  #sidebar-wrapper.open {
    width: 250px; }
  #sidebar-wrapper .sidebar-links {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #sidebar-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 250px;
    padding-left: 45px;
    margin: 0px;
    list-style: none; }
    #sidebar-wrapper ul li {
      padding: 10px 0px; }
      #sidebar-wrapper ul li:hover {
        cursor: pointer; }

.accordion {
  color: white;
  width: 100%;
  font-size: 20px; }
  .accordion .section {
    width: 100%; }
    .accordion .section input[type='checkbox'] {
      display: none; }
      .accordion .section input[type='checkbox']:checked + label {
        background: #363636; }
        .accordion .section input[type='checkbox']:checked + label:before {
          content: " ";
          position: absolute;
          border-left: 3px solid #77c9d4;
          height: 100%;
          left: 0; }
      .accordion .section input[type='checkbox']:checked ~ .content {
        max-height: 300px;
        opacity: 1;
        z-index: 10;
        overflow-y: auto; }
    .accordion .section label {
      position: relative;
      cursor: pointer;
      margin: 0px;
      padding: 10px 20px;
      display: table;
      background: #222;
      width: 100%;
      -webkit-transition: background 0.5s ease-in-out;
      -moz-transition: background 0.5s ease-in-out;
      -ms-transition: background 0.5s ease-in-out;
      transition: background 0.5s ease-in-out;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none; }
      .accordion .section label:before {
        content: " ";
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        border-top: 1px solid #363636; }
      .accordion .section label:hover {
        background: #363636; }
    .accordion .section:last-of-type {
      border-bottom: 1px solid #363636; }
    .accordion .section .content {
      max-height: 0;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s;
      opacity: 0;
      position: relative;
      overflow-y: hidden; }

#close-btn {
  cursor: pointer; }
  #close-btn:hover {
    opacity: 0.5; }
  #close-btn img {
    margin-right: 190px;
    height: 40px;
    width: 40px;
    vertical-align: inherit; }

#hamburger {
  display: flex;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1; }
  #hamburger:hover {
    cursor: pointer; }
  #hamburger img {
    height: 40px;
    width: 40px; }

@media only screen and (max-width: 1140px) {
  #gallery .col-md-6 {
    overflow: hidden;
    padding: 10px 5px 10px 5px; }
    #gallery .col-md-6 img {
      max-width: 450px;
      max-height: 450px; } }
@media only screen and (max-width: 992px) {
  #gallery .col-md-6 {
    width: 100%;
    margin-left: 15px; }
    #gallery .col-md-6 img {
      width: 100%;
      max-width: 90vw;
      max-height: 90vw; }

  #gallery .col-md-4 {
    width: 100%;
    margin-left: 15px; }
    #gallery .col-md-4 img {
      width: 100%;
      max-width: 90vw;
      max-height: 90vw; }

  #about .left-col {
    text-align: center; }
  #about .right-col {
    text-align: center; }

  .row {
    width: 100%; } }
@media only screen and (max-width: 480px) {
  .hero {
    padding: 40px 0px; }
    .hero .underline {
      border-bottom: 2px solid #77c9d4; }

  .inside-container {
    width: 95vw;
    margin: auto; }

  #intro h1 {
    font-size: 3em; }
  #intro h3 {
    font-size: 1.1em; }

  #bio .left-column p {
    text-align: center;
    font-size: 25px;
    line-height: 30px; }

  #bio .right-column p {
    text-align: center;
    font-size: 25px;
    line-height: 30px; }

  #about .about-list-item img {
    height: 100px; }
  #about .about-list-item p {
    font-size: 25px; }
  #about #about-text {
    font-size: 25px;
    margin-top: 10px; }

  #gallery-preface p {
    font-size: 25px; }

  #contact p {
    font-size: 25px; }
  #contact img {
    height: 20px; }

  #footer .left-column a > img {
    height: 40px; }
  #footer .middle-column {
    font-size: 17px;
    word-spacing: 10px; }
  #footer .right-column {
    font-size: 8px; } }

/*# sourceMappingURL=main.css.map */
