$accent-color-1: #57bc90;
$accent-color-2: #a5a5af;
$accent-color-3: #77c9d4;
$accent-color-4: #015249;


.hero {
  font-family: "Sumana", serif;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: #333;
    font-size: 40px;
    font-weight: 100;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  h1 {
    font-size: 4.5em;
    line-height: 1.5em;
  }

  header {
    font-size: 65px;
    color: rgba(165, 165, 175, .25);
    font-weight: bold;
  }
}

#intro {
  background-image: url(../img/backgrounds/chicago-690364.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1, h3, a {
    color: white;
    text-shadow: RGBa(0, 0, 0, .7) 0px 5px 5px;
    text-decoration: none;
  }
  h3 {
    font-weight: 900;
    font-size: 26px;
  }
  h3 a {
    &:hover {
      color: $accent-color-3;
      transition: 0.3s;
    }
  }

  #middle-intro-title {
    font-size: 110%;
  }
}

#about {
  .left-col {
    color: $accent-color-3;
    padding: 20px;
    text-align: right;
    font-weight: 700;
    h3 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 45px;
      line-height: 55px;
    }
  }
  .right-col {
    text-align: left;
    padding: 20px;
    h5 {
      font-size: 28px;
      line-height: 30px;
    }
  }
}

#gallery {
  header {
    margin: 40px 0px;
  }
  .col-md-6 {
    overflow: hidden;
    img {
      height: 100%;
      max-width: 550px;
      max-height: 550px;
    }
  }
}

#contact {
  text-align: center;
  padding: 64px 0px 128px 0px;
  header {
    margin: 20px 0px 20px 0px;
  }
  p {
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: lighter;
  }
  img {
    height: 25px;
    margin: 40px 5px;
    &:hover {
      opacity: .5;
    }
  }
  .cta {
    background-color: $accent-color-4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 7px;
    width: 7em;
    font-size: 18px;
    line-height: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $accent-color-1;
      color: white;
    }
  }
}

#about, #contact {
  max-width: 1000px;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4em;
  padding-bottom: 4em;
  justify-content: center;
  font-size: 18px;

  .footer-item {
    flex: 1;
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: $accent-color-1;
    }
  }
  .copyright {
    color: $accent-color-1;
    margin-left: 5px;
  }
}


#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: fixed;
  width: 0px;
  height: 100%;
  padding-top: 10px;

  font-family: "Roboto", serif;
  color: white;
  background-color: black;
  z-index: 2;
  overflow: hidden;

  transition: all 0.5s ease;
  h2 {
    font-size: 40px;
    line-height: 40px;
    margin: 4px;
    padding: 0px;
  }
  a {
    color: white;
    font-size: 24px;
    margin-left: 10px;
  }

  &.open {
    width: 260px;
  }

  .sidebar-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

#close-btn {
  margin-left: 30px;
  margin-top: 10px;
  align-self: flex-start;
  color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  img {
    height: 30px;
    width: 30px;
  }
}

#hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 50px;
  width: 50px;
  left: 10px;
  top: 10px;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }
  img {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 1140px) {
  #gallery .col-md-6 {
    overflow: hidden;
    padding: 10px 5px 10px 5px;
    img {
      max-width: 450px;
      max-height: 450px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .row {
    width: 100%;
  }
  #gallery .col-md-6 {
    width: 100%;
    margin-left: 15px;
    img {
      width: 100%;
      max-width: 800px;
      max-height: 800px;
    }
  }
  #about {
    margin-left: 30px;
    .left-col{
      text-align: center;
    }
    .right-col {
      text-align: center;
    }
  }

    .footer-item {
      // text-align: center;
      font-size: .9em;
    }
    .copyright {
      // text-align: right;
      font-size: .9em;
    }
  }

@media only screen and (max-width: 480px){
  .hero {
    min-height: 568px;
  }
  #intro {
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.1em;
    }
  }
  #about .left-col h3 {
    font-size: 34px;
    line-height: 40px;
  }
  .hero header {
    font-size: 45px;
    margin-right: 36px;
  }
  #contact p {
    font-size: 20px;
    margin: 0px 25px 20px 25px;
  }
  #footer {
    margin-left: 20px;
    margin-right: 20px;
    #signature-name {
    text-align: left;
    }
    .footer-item {
      text-align: center;
      font-size: .85em;
    }
    .copyright {
      text-align: right;
      font-size: .5em;
    }
  }
}
