@mixin transition($trans...) {
  -webkit-transition: $trans;
  -moz-transition: $trans;
  -ms-transition: $trans;
  transition: $trans;
}

@mixin noselect() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

$toggle-background: #222;
$toggle-background-active: lighten($toggle-background, 8);
$accent-color-1: #57bc90;
$accent-color-2: #a5a5af;
$accent-color-3: #77c9d4;
$accent-color-4: #015249;
$accent-color-5: #003D46;
$sidebar-width: 250px;

$grid-gutter-width-base: 0px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);

.sm-box{
 min-height: 30vh;
}

.md-box{
  min-height: 50vh;
}

.lg-box{
  min-height: 100vh;
}

.hero {
  font-family: "Sumana", serif;
  min-width: 100vw;
  background-size: cover;
  text-align: center;
  padding: 70px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 2.2em;
    line-height: 1.5;
    font-weight: normal;
    text-rendering: optimizeLegibility;
  }
  h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 0px 0px 50px 0px;
    text-transform: uppercase;
  }
  h1 {
    font-size: 4.5em;
    line-height: 1.5em;
  }
  header {
    font-size: 65px;
    color: white;
    font-weight: bold;
  }
  span {
    display: inline-block;
    }
  .underline {
    border-bottom: 4px solid $accent-color-3;
  }
}

  .inside-container {
    width: 75vw;
    margin: auto;
}

#intro-hb-bg {
    background-image: url(../img/backgrounds/hughesBrews-bottleCaps-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-index-bg {
    background-image: url(../img/backgrounds/fieldMuseum-skyline.jpg);
    // background-image: url(../img/backgrounds/omenaBay.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro-drums-bg {
    background-image: url(../img/backgrounds/chicago-690364.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
  h1, h3, a {
    color: white;
    text-shadow: RGBa(0, 0, 0, .7) 0px 5px 5px;
    text-decoration: none;
  }
  h3 {
    font-weight: 900;
    font-size: 26px;
  }
  h3 a {
    &:hover {
      color: $accent-color-3;
      transition: 0.3s;
    }
  }
  #middle-intro-title {
    font-size: 110%;
  }
}

#bio {
  .left-column {
    color: $accent-color-1;
    text-align: right;
    font-size: 1.25em;
  }
  .right-column {
    color: $accent-color-2;
    text-align: left;
    font-size: .8em;
    padding-top: 14px;
  }
}

.beer-color-bg {
  background-color: $accent-color-3;
}

#about {
  background-color: $accent-color-3;
  color: white;
  display: flex;
  flex-direction: column;
  img {
    height: 200px;
  }
  .about-list-item {
    display: inline-block;
    padding: $grid-gutter-width-base;
  }
  #about-text {
    font-size: 2.2em;
    margin-top: 30px;
  }
}


#gallery-preface {
  background-color: $accent-color-5;
  color: white;
  h2 {
    margin-bottom: 30px;
  }
}

#gallery {
  p {
    font-size: 1.5em;
    span {
      font-size: 1.2em;
      text-decoration: underline;
    }
  }
  .col-md-6 {
    overflow: hidden;
    img {
      height: 100%;
      max-width: 350px;
      max-height: 350px;
    }
  }
  .col-md-4 {
    overflow: hidden;
    img {
      height: 100%;
      max-width: 350px;
      max-height: 350px;
    }
  }
  .gallery-text-sm-screens {
    p {
      color: $accent-color-2;
      text-align: left;
      margin-bottom: 30px;
      span {
        margin-bottom: 10px;
        color: black;
      }
    }
    bdi {
      color: white;
    }
  }
  // .hidden-gallery-text-wrap {
  //   max-height: 350px;
  //   max-width: 350px;
  //   position: absolute;
  //   margin: 0 auto;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   background: rgba(119, 201, 212, .9);
  //   color: #fff;
  //   visibility: hidden;
  //   opacity: 0;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   transition: opacity .2s, visibility .2s;
  // }
  // .gallery-image-wrap:hover .hidden-gallery-text-wrap {
  //   visibility: visible;
  //   opacity: 1;
  // }
  // .hidden-gallery-text {
  //   transition: .2s;
  //   transform: translateY(1em);
  // }
  // .gallery-image-wrap:hover .hidden-gallery-text {
  //   transform: translateY(0);
  // }
}

#contact {
  background-color: $accent-color-3;
  text-align: center;
  header {
    margin: 20px 0px 20px 0px;
  }
  p {
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
  }
  a {
    color: $accent-color-5;
    text-decoration: none;
    &:hover {
      opacity: .75;
    }
  }
  img {
    height: 35px;
  }
}

#footer {
  min-height: 10vh;
  min-width: 100vw;
  background-color: $accent-color-5;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding: 50px 0px;
  .footer-content {
    display: flex;
    align-items: center;
    a, p {
      color: white;
      text-decoration: none;
    }
  }
  .left-column{
    padding: $grid-gutter-width-base;
    a > img {
        height: 50px;
    }
  }
  .middle-column {
    display: inline;
    text-align: center;
    word-spacing: 14vw;
    font-size: 1.25em;
    padding: $grid-gutter-width-base;
    a {
      &:hover {
        color: $accent-color-3;
      }
    }
  }
  .right-column {
    padding: $grid-gutter-width-base;
    font-size: .7em;
    color: white;
    p {
      float: right;
      margin: 0px;
    }
  }
}

#sidebar-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 0px;
  height: 100%;
  padding-top: 10px;
  font-family: "Sumana", serif;
  color: white;
  background-color: $toggle-background;
  z-index: 2;
  overflow: hidden;
  transition: all 0.5s ease;
  a {
    color: white;
    font-size: 20px;
    margin-left: 0px;
    &:hover {
      text-decoration: none;
      color: $accent-color-3;
    }
  }
  &.open {
    width: $sidebar-width;
  }
  .sidebar-links {
    margin-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: $sidebar-width;
    padding-left: 45px;
    margin: 0px;
    list-style: none;
    li {
      padding: 10px 0px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.accordion {
  color: white;
  width: 100%;
  font-size: 20px;
  .section {
    width: 100%;
    input[type='checkbox'] {
      display: none;
      &:checked {
        & + label {
          background: $toggle-background-active;
          &:before {
            content: " ";
            position: absolute;
            border-left: 3px solid $accent-color-3;
            height: 100%;
            left: 0;
          }
        }
        & ~ .content {
          max-height: 300px;
          opacity: 1;
          z-index: 10;
          overflow-y: auto;
        }
      }
    }
    label {
      position: relative;
      cursor: pointer;
      margin: 0px;
      padding: 10px 20px;
      display: table;
      background: $toggle-background;
      width: 100%;
      @include transition (background 0.5s ease-in-out);
      @include noselect();
      &:before {
        content: " ";
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        border-top: 1px solid $toggle-background-active;
      }
      &:hover {
        background: $toggle-background-active;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid $toggle-background-active;
    }
    .content {
      max-height: 0;
      @include transition(all 0.5s);
      opacity: 0;
      position: relative;
      overflow-y: hidden;
    }
  }
}

#close-btn {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  img {
    margin-right: 190px;
    height: 40px;
    width: 40px;
    vertical-align: inherit;
  }
}

#hamburger {
  display: flex;
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 1;
  &:hover {
    cursor: pointer;
  }
  img {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (max-width: 992px) {
  #about {
    img {
      height: 250px;
    }
  }

  #gallery {
    .col-md-6 {
      width: 100%;
      margin-left: 15px;
      padding: 0px;
      img {
        width: 100%;
        max-width: 90vw;
        max-height: 90vw;
      }
    }
    .gallery-image-wrap:hover .hidden-gallery-text-wrap {
      display: none;
    }
    .gallery-text-sm-screens {
      display: block;
    }
  }

  #gallery .col-md-4 {
    width: 100%;
    margin-left: 15px;
    img {
      width: 100%;
      max-width: 90vw;
      max-height: 90vw;
    }
  }

  #about {
    .left-col{
      text-align: center;
    }
    .right-col {
      text-align: center;
    }
  }
  .row {
    width: 100%;
  }

  #footer {
    .middle-column {
      font-size: 20px;
      word-spacing: 12vw;
    }
  }
}

@media only screen and (max-width: 675px) {
  #about img {
    height: 175px;
  }
}

@media only screen and (max-width: 480px){
  .hero {
    padding: 40px 0px;

    .underline {
      border-bottom: 2px solid $accent-color-3;
    }
  }
  .inside-container {
    width: 95vw;
    margin: auto;
  }

  #intro {
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.1em;
    }
  }
  #bio .left-column p {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }
  #bio .right-column p {
    text-align: center;
    font-size: 25px;
    line-height: 30px;
  }

  #about {
    .about-list-item {
      img {
        height: 60px;
      }
      p {
        font-size: 13px;
      }
    }
    #about-text {
      font-size: 25px;
      margin-top: 10px;
    }
  }

  #gallery-preface {
    p {
      font-size: 25px;
    }
  }

  #contact {
    p {
    font-size: 25px;
    }
    img {
      height: 20px;
    }
  }

  #footer {
    .left-column{
      a > img {
          height: 40px;
      }
    }
    .middle-column {
      font-size: 17px;
      word-spacing: 7vw;
    }
    .right-column {
      font-size: 8px;
    }
  }
}
