.hero {
  font-family: "Sumana", serif;
  min-height: 800px;
  background-size: cover;
  padding-bottom: 50px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: #333;
  }

  h1 {
    font-size: 4.5em;
    line-height: 1.5em;
  }
}

#intro {
  // padding: 64px 0px 64px 0px;
  // padding: 10vw 2em;
  color: white;
  text-shadow: RGBa(0, 0, 0, .5) 0px 5px 5px;

  background-image: url(../img/backgrounds/619941782.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  #middle-intro-title {
    font-size: 115%;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

#about {
  h2 {
    text-align: center;
  }
}

#contact {
  text-align: center;
  padding: 64px 0px 128px 0px;
  h2 {
    margin: 0px;
  }
  img {
    height: 30px;
    margin: 10px 5px;
  }
  .cta {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    width: 10em;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;

    &:hover {
      color: turquoise;
    }
  }
}

#about, #contact {
  max-width: 1000px;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 4em;
  padding-bottom: 4em;
  justify-content: center;

  .footer-item {
    flex: 1;

    a {
      text-decoration: none;
      color: black;
    }
  }
  .copyright {
    color: turquoise;
  }
}
